<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Contact <%=qr?.Vehicle?.OwnerCustomer?.User?.name%></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/promise-polyfill@8.2.3/dist/polyfill.min.js"
      integrity="sha256-6W8rLN6XbnQSNsU1iq+8JbNSfutzQxUh2neEFPq9wtQ="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/unfetch@4.2.0/polyfill/index.js"
      integrity="sha256-pvnTodRqlwep+a1W4Z+9E9qZQswmrFW7WBbnYRCEL6M="
      crossorigin="anonymous"
    ></script>
    <style>
      [x-cloak] {
        display: none !important;
      }
      .selected-reason {
        background-color: green;
        color: white;
      }
    </style>
    <script>
      function contactform() {
        return {
          reasons: JSON.parse(`<%-JSON.stringify(reasons)%>`),
          selectedReason: null,
          sending: false,
          errorContact: null,
          successContact: false,
          selectReason(code) {
            if (this.sending) return;

            if (this.selectedReason === code) {
              this.selectedReason = null;
            } else {
              this.selectedReason = code;
            }
          },
          spinner() {
            return `<div class="spinner-border text-light" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>`;
          },
          dateFormat(date) {
            const d = new Date(date);

            return new Intl.DateTimeFormat('en-IN', {
              dateStyle: 'long',
            }).format(d);
          },
          sendMessage() {
            this.sending = true;
            fetch('/qr/contact', {
              method: 'POST',
              body: JSON.stringify({
                reason: this.selectedReason,
                qrId: '<%=qr.id%>',
              }),
              headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
              },
            })
              .then((res) => {
                if (res.ok) {
                  return res.json();
                } else {
                  return Promise.reject(res);
                }
              })
              .then((data) => {
                this.successContact = true;
              })
              .catch((err) => {
                console.error(err);
                this.errorContact = 'Failed to send message! Please try again.';
              })
              .finally(() => {
                this.sending = false;
              });
          },
        };
      }
    </script>
  </head>
  <body style="background-color: #444">
    <div
      class="mx-auto w-100"
      style="max-width: 600px; min-height: 100vh; background-color: #fff"
    >
      <nav
        class="p-2 px-4"
        style="background-color: #ff0; border-bottom: solid 1px #aa0"
      >
        <h1>MotorSaarthi</h1>
      </nav>
      <main class="p-4">
        <div x-data="contactform">
          <div x-show="successContact">
            <div class="alert alert-success" role="alert">
              Your message have been sent to
              <%=qr?.Vehicle?.OwnerCustomer?.User?.name ?? 'N/A'%>. Thanks for
              using our services.
            </div>
          </div>

          <form @submit.prevent="sendMessage" x-show="!successContact">
            <table class="table">
              <tbody>
                <tr>
                  <th>Name of owner</th>
                  <td><%=qr?.Vehicle?.OwnerCustomer?.User?.name%></td>
                </tr>
                <tr>
                  <th>Registration number</th>
                  <td><%=qr?.Vehicle?.registration_num ?? '-'%></td>
                </tr>
                <tr>
                  <th>Member since</th>
                  <td
                    x-text="dateFormat('<%=qr?.Vehicle?.OwnerCustomer?.User?.created_at?.toISOString()%>')"
                  ></td>
                </tr>
              </tbody>
            </table>

            <div x-cloak>
              <ul class="row" style="user-select: none; list-style-type: none">
                <template x-for="(reason, code) in reasons" :key="code">
                  <li
                    role="option"
                    style="height: 200px; cursor: pointer"
                    class="col col-5 border rounded m-1 p-0 overflow-hidden"
                  >
                    <button
                      type="button"
                      @click="selectReason(code)"
                      class="w-100 h-100 text-center border-0"
                      :class="{'selected-reason': selectedReason === code}"
                      :disabled="sending"
                      x-text="reason"
                    ></button>
                  </li>
                </template>
              </ul>

              <template x-if="errorContact">
                <div
                  class="alert alert-danger"
                  role="alert"
                  x-text="errorContact"
                ></div>
              </template>

              <button
                type="submit"
                style="height: 3em"
                class="btn btn-primary w-100"
                :disabled="!selectedReason || sending"
                x-html="sending ? spinner() : 'Send message to <%=qr?.Vehicle?.OwnerCustomer?.User?.name ?? 'N/A'%>'"
              ></button>
            </div>
          </form>
        </div>
      </main>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.10.3/dist/cdn.min.js"
      integrity="sha256-gOkV4d9/FmMNEkjOzVlyM2eNAWSUXisT+1RbMTTIgXI="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
